/* TYPOGRAPHY */

.bold {
	
	font-weight:bold;
}

.hidden {
	
	display:none;
}

#container {
	
	width:80%;
	padding:10px;
	margin:0 auto;
	
}

section {
	
	margin-top:30px;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid grey;
}

section:last-child {
	
	border-bottom:0;
}

.active {
	
	background-color:blue;
	color:white !important;
}

.six {
	
	border:1px solid purple;
	min-height:150px;
}